## Sanity check --> use running times of the 4 configurations as features

In [1]:
import pandas as pd
df = pd.read_csv('C:/Users/Jasmin/Documents/MSc-Thesis/Feature_Extraction/feature_data_rp/RP_data_07.csv')

In [2]:
df.head()

,n_vars,n_constr,n_nzcnt,nq_vars,nq_constr,nq_nzcnt,lp_avg,lp_l2_avg,lp_linf,lp_objval,...,impliedBoundCuts,flowCuts,mixedIntegerRoundingCuts,gomoryFractionalCuts,time_relax,time_VCG0,time_VCG1,time_VCG2,cplex_prob_time,INSTANCE_NAME
0,3005.0,4440.0,532558.0,0.0,0.0,0.0,0.110512,0.191534,0.497890,0.0,...,0.0,0.0,9.0,4.0,2.05000,0.000000,0.200000,0.183333,24.3167,mip_1.txt
1,2971.0,4372.0,505477.0,0.0,0.0,0.0,0.134393,0.221089,0.499550,0.0,...,0.0,0.0,20.0,10.0,2.16667,0.000000,0.216667,0.183333,25.0000,mip_10.txt
2,2967.0,4364.0,502291.0,0.0,0.0,0.0,0.106764,0.190398,0.498555,0.0,...,0.0,0.0,21.0,10.0,2.00000,0.000000,0.183333,0.183333,22.7500,mip_100.txt
3,3011.0,4452.0,537337.0,0.0,0.0,0.0,0.230292,0.322005,0.499855,0.0,...,0.0,0.0,14.0,7.0,3.36667,0.016667,0.200000,0.200000,23.4500,mip_1000.txt
4,2897.0,4224.0,446536.0,0.0,0.0,0.0,0.133350,0.217471,0.498412,0.0,...,0.0,0.0,95.0,47.0,2.06667,0.016667,0.183333,0.166667,23.5333,mip_10000.txt

In [3]:
df['INSTANCE_NAME'] = 'mip' + df['INSTANCE_NAME'].astype('str').astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype('int').astype('str')
df.head()

,n_vars,n_constr,n_nzcnt,nq_vars,nq_constr,nq_nzcnt,lp_avg,lp_l2_avg,lp_linf,lp_objval,...,impliedBoundCuts,flowCuts,mixedIntegerRoundingCuts,gomoryFractionalCuts,time_relax,time_VCG0,time_VCG1,time_VCG2,cplex_prob_time,INSTANCE_NAME
0,3005.0,4440.0,532558.0,0.0,0.0,0.0,0.110512,0.191534,0.497890,0.0,...,0.0,0.0,9.0,4.0,2.05000,0.000000,0.200000,0.183333,24.3167,mip1
1,2971.0,4372.0,505477.0,0.0,0.0,0.0,0.134393,0.221089,0.499550,0.0,...,0.0,0.0,20.0,10.0,2.16667,0.000000,0.216667,0.183333,25.0000,mip10
2,2967.0,4364.0,502291.0,0.0,0.0,0.0,0.106764,0.190398,0.498555,0.0,...,0.0,0.0,21.0,10.0,2.00000,0.000000,0.183333,0.183333,22.7500,mip100
3,3011.0,4452.0,537337.0,0.0,0.0,0.0,0.230292,0.322005,0.499855,0.0,...,0.0,0.0,14.0,7.0,3.36667,0.016667,0.200000,0.200000,23.4500,mip1000
4,2897.0,4224.0,446536.0,0.0,0.0,0.0,0.133350,0.217471,0.498412,0.0,...,0.0,0.0,95.0,47.0,2.06667,0.016667,0.183333,0.166667,23.5333,mip10000

### Add rows as comma seperated data to feature_values.arff file

In [4]:
# first make sure all column names are correct and isolate timing features
timing_df = df[['time_relax', 'time_VCG0', 'time_VCG1','time_VCG2','cplex_prob_time']]
timing_df

      time_relax  time_VCG0  time_VCG1  time_VCG2  cplex_prob_time
0        2.05000   0.000000   0.200000   0.183333          24.3167
1        2.16667   0.000000   0.216667   0.183333          25.0000
2        2.00000   0.000000   0.183333   0.183333          22.7500
3        3.36667   0.016667   0.200000   0.200000          23.4500
4        2.06667   0.016667   0.183333   0.166667          23.5333
...          ...        ...        ...        ...              ...
9995     1.26667   0.000000   0.166667   0.183333          23.8000
9996     1.58333   0.016667   0.150000   0.150000          26.8500
9997     3.23333   0.000000   0.183333   0.166667          22.3167
9998     1.88333   0.016667   0.183333   0.166667          22.4167
9999     2.05000   0.016667   0.166667   0.166667          26.4167

[10000 rows x 5 columns]

In [5]:
# first make sure all column names are correct and isolate timing features
features_df = df.drop(columns=timing_df.columns)
features_df

,n_vars,n_constr,n_nzcnt,nq_vars,nq_constr,nq_nzcnt,lp_avg,lp_l2_avg,lp_linf,lp_objval,...,new_row,new_col,new_nonzero,clique_table,cliqueCuts,impliedBoundCuts,flowCuts,mixedIntegerRoundingCuts,gomoryFractionalCuts,INSTANCE_NAME
0,3005.0,4440.0,532558.0,0.0,0.0,0.0,0.110512,0.191534,0.497890,0.0,...,1997.0,1552.0,527993.0,59.0,0.0,0.0,0.0,9.0,4.0,mip1
1,2971.0,4372.0,505477.0,0.0,0.0,0.0,0.134393,0.221089,0.499550,0.0,...,2058.0,1574.0,501153.0,196.0,0.0,0.0,0.0,20.0,10.0,mip10
2,2967.0,4364.0,502291.0,0.0,0.0,0.0,0.106764,0.190398,0.498555,0.0,...,2054.0,1571.0,497973.0,36.0,0.0,0.0,0.0,21.0,10.0,mip100
3,3011.0,4452.0,537337.0,0.0,0.0,0.0,0.230292,0.322005,0.499855,0.0,...,2020.0,1565.0,532797.0,331.0,0.0,0.0,0.0,14.0,7.0,mip1000
4,2897.0,4224.0,446536.0,0.0,0.0,0.0,0.133350,0.217471,0.498412,0.0,...,2085.0,1569.0,442525.0,24.0,0.0,0.0,0.0,95.0,47.0,mip10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2943.0,4316.0,483175.0,0.0,0.0,0.0,0.125741,0.204121,0.499159,0.0,...,1870.0,1473.0,478573.0,51.0,0.0,0.0,0.0,25.0,12.0,mip9995
9996,2843.0,4116.0,403525.0,0.0,0.0,0.0,0.129329,0.219710,0.499019,0.0,...,1636.0,1331.0,398805.0,37.0,0.0,0.0,0.0,21.0,11.0,mip9996
9997,2947.0,4324.0,486361.0,0.0,0.0,0.0,0.161295,0.257694,0.499142,0.0,...,2036.0,1557.0,482077.0,356.0,0.0,0.0,0.0,11.0,5.0,mip9997
9998,2933.0,4296.0,475210.0,0.0,0.0,0.0,0.125582,0.210217,0.499040,0.0,...,1985.0,1528.0,470873.0,81.0,0.0,0.0,0.0,6.0,3.0,mip9998
9999,2943.0,4316.0,483175.0,0.0,0.0,0.0,0.157984,0.239453,0.494612,0.0,...,1970.0,1523.0,478773.0,66.0,0.0,0.0,0.0,64.0,34.0,mip9999

In [6]:
# first make sure all column names are correct --> instance id and repetitions
features_df.rename(columns={"INSTANCE_NAME":"instance_id"}, inplace=True)

## Clean features for better predictions

In [7]:
nunique = features_df.nunique()
cols_to_drop = nunique[nunique == 1].index
features_df = features_df.drop(cols_to_drop, axis=1)
features_df = features_df.T.drop_duplicates().T
features_df

,n_vars,n_constr,n_nzcnt,lp_avg,lp_l2_avg,lp_linf,num_i_variables,num_c_variables,ratio_i_variables,ratio_c_variables,...,new_row,new_col,new_nonzero,clique_table,cliqueCuts,impliedBoundCuts,flowCuts,mixedIntegerRoundingCuts,gomoryFractionalCuts,instance_id
0,3005.0,4440.0,532558.0,0.110512,0.191534,0.49789,330.0,2675.0,0.109817,0.890183,...,1997.0,1552.0,527993.0,59.0,0.0,0.0,0.0,9.0,4.0,mip1
1,2971.0,4372.0,505477.0,0.134393,0.221089,0.49955,313.0,2658.0,0.105352,0.894648,...,2058.0,1574.0,501153.0,196.0,0.0,0.0,0.0,20.0,10.0,mip10
2,2967.0,4364.0,502291.0,0.106764,0.190398,0.498555,311.0,2656.0,0.10482,0.89518,...,2054.0,1571.0,497973.0,36.0,0.0,0.0,0.0,21.0,10.0,mip100
3,3011.0,4452.0,537337.0,0.230292,0.322005,0.499855,333.0,2678.0,0.110594,0.889406,...,2020.0,1565.0,532797.0,331.0,0.0,0.0,0.0,14.0,7.0,mip1000
4,2897.0,4224.0,446536.0,0.13335,0.217471,0.498412,276.0,2621.0,0.095271,0.904729,...,2085.0,1569.0,442525.0,24.0,0.0,0.0,0.0,95.0,47.0,mip10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2943.0,4316.0,483175.0,0.125741,0.204121,0.499159,299.0,2644.0,0.101597,0.898403,...,1870.0,1473.0,478573.0,51.0,0.0,0.0,0.0,25.0,12.0,mip9995
9996,2843.0,4116.0,403525.0,0.129329,0.21971,0.499019,249.0,2594.0,0.087583,0.912416,...,1636.0,1331.0,398805.0,37.0,0.0,0.0,0.0,21.0,11.0,mip9996
9997,2947.0,4324.0,486361.0,0.161295,0.257694,0.499142,301.0,2646.0,0.102138,0.897862,...,2036.0,1557.0,482077.0,356.0,0.0,0.0,0.0,11.0,5.0,mip9997
9998,2933.0,4296.0,475210.0,0.125582,0.210217,0.49904,294.0,2639.0,0.100239,0.899761,...,1985.0,1528.0,470873.0,81.0,0.0,0.0,0.0,6.0,3.0,mip9998
9999,2943.0,4316.0,483175.0,0.157984,0.239453,0.494612,299.0,2644.0,0.101597,0.898403,...,1970.0,1523.0,478773.0,66.0,0.0,0.0,0.0,64.0,34.0,mip9999

In [8]:
features_df["repetition"] = 1
features_df

,n_vars,n_constr,n_nzcnt,lp_avg,lp_l2_avg,lp_linf,num_i_variables,num_c_variables,ratio_i_variables,ratio_c_variables,...,new_col,new_nonzero,clique_table,cliqueCuts,impliedBoundCuts,flowCuts,mixedIntegerRoundingCuts,gomoryFractionalCuts,instance_id,repetition
0,3005.0,4440.0,532558.0,0.110512,0.191534,0.49789,330.0,2675.0,0.109817,0.890183,...,1552.0,527993.0,59.0,0.0,0.0,0.0,9.0,4.0,mip1,1
1,2971.0,4372.0,505477.0,0.134393,0.221089,0.49955,313.0,2658.0,0.105352,0.894648,...,1574.0,501153.0,196.0,0.0,0.0,0.0,20.0,10.0,mip10,1
2,2967.0,4364.0,502291.0,0.106764,0.190398,0.498555,311.0,2656.0,0.10482,0.89518,...,1571.0,497973.0,36.0,0.0,0.0,0.0,21.0,10.0,mip100,1
3,3011.0,4452.0,537337.0,0.230292,0.322005,0.499855,333.0,2678.0,0.110594,0.889406,...,1565.0,532797.0,331.0,0.0,0.0,0.0,14.0,7.0,mip1000,1
4,2897.0,4224.0,446536.0,0.13335,0.217471,0.498412,276.0,2621.0,0.095271,0.904729,...,1569.0,442525.0,24.0,0.0,0.0,0.0,95.0,47.0,mip10000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2943.0,4316.0,483175.0,0.125741,0.204121,0.499159,299.0,2644.0,0.101597,0.898403,...,1473.0,478573.0,51.0,0.0,0.0,0.0,25.0,12.0,mip9995,1
9996,2843.0,4116.0,403525.0,0.129329,0.21971,0.499019,249.0,2594.0,0.087583,0.912416,...,1331.0,398805.0,37.0,0.0,0.0,0.0,21.0,11.0,mip9996,1
9997,2947.0,4324.0,486361.0,0.161295,0.257694,0.499142,301.0,2646.0,0.102138,0.897862,...,1557.0,482077.0,356.0,0.0,0.0,0.0,11.0,5.0,mip9997,1
9998,2933.0,4296.0,475210.0,0.125582,0.210217,0.49904,294.0,2639.0,0.100239,0.899761,...,1528.0,470873.0,81.0,0.0,0.0,0.0,6.0,3.0,mip9998,1
9999,2943.0,4316.0,483175.0,0.157984,0.239453,0.494612,299.0,2644.0,0.101597,0.898403,...,1523.0,478773.0,66.0,0.0,0.0,0.0,64.0,34.0,mip9999,1

In [9]:
# Change position of columns --> instance_id and repetition go first
cols = features_df.columns.tolist()
cols

['n_vars',
 'n_constr',
 'n_nzcnt',
 'lp_avg',
 'lp_l2_avg',
 'lp_linf',
 'num_i_variables',
 'num_c_variables',
 'ratio_i_variables',
 'ratio_c_variables',
 'rhs_c_0_avg',
 'rhs_c_0_varcoef',
 'rhs_c_1_avg',
 'rhs_c_1_varcoef',
 'rhs_c_2_avg',
 'rhs_c_2_varcoef',
 'vcg_constr_deg0_avg',
 'vcg_constr_deg0_varcoef',
 'vcg_constr_weight0_avg',
 'vcg_constr_weight0_varcoef',
 'vcg_var_weight0_avg',
 'vcg_var_weight0_varcoef',
 'A_ij_normalized0_avg',
 'A_ij_normalized0_varcoef',
 'a_normalized_varcoefs0_avg',
 'a_normalized_varcoefs0_varcoef',
 'vcg_constr_deg1_avg',
 'vcg_constr_deg1_varcoef',
 'vcg_var_deg1_avg',
 'vcg_var_deg1_varcoef',
 'vcg_var_deg1_q90mq10',
 'vcg_constr_weight1_avg',
 'vcg_constr_weight1_varcoef',
 'vcg_var_weight1_avg',
 'vcg_var_weight1_varcoef',
 'A_ij_normalized1_avg',
 'A_ij_normalized1_varcoef',
 'a_normalized_varcoefs1_avg',
 'a_normalized_varcoefs1_varcoef',
 'obj_coefs1_avg',
 'obj_coefs1_std',
 'obj_coef_per_constr1_avg',
 'obj_coef_per_constr1_std',
 'obj_coef_per_sqr_constr1_avg',
 'obj_coef_per_sqr_constr1_std',
 'vcg_constr_deg2_avg',
 'vcg_constr_deg2_varcoef',
 'vcg_var_deg2_avg',
 'vcg_var_deg2_varcoef',
 'vcg_var_deg2_q90mq10',
 'vcg_constr_weight2_avg',
 'vcg_constr_weight2_varcoef',
 'vcg_var_weight2_avg',
 'vcg_var_weight2_varcoef',
 'A_ij_normalized2_avg',
 'A_ij_normalized2_varcoef',
 'a_normalized_varcoefs2_avg',
 'a_normalized_varcoefs2_varcoef',
 'obj_coefs2_avg',
 'obj_coefs2_std',
 'obj_coef_per_constr2_avg',
 'obj_coef_per_constr2_std',
 'obj_coef_per_sqr_constr2_avg',
 'obj_coef_per_sqr_constr2_std',
 'mipgap',
 'nodecnt',
 'pre_t',
 'new_row',
 'new_col',
 'new_nonzero',
 'clique_table',
 'cliqueCuts',
 'impliedBoundCuts',
 'flowCuts',
 'mixedIntegerRoundingCuts',
 'gomoryFractionalCuts',
 'instance_id',
 'repetition']

In [10]:
# Change position of columns --> instance_id and repetition go first
cols = cols[-2:] + cols[:-2]
cols

['instance_id',
 'repetition',
 'n_vars',
 'n_constr',
 'n_nzcnt',
 'lp_avg',
 'lp_l2_avg',
 'lp_linf',
 'num_i_variables',
 'num_c_variables',
 'ratio_i_variables',
 'ratio_c_variables',
 'rhs_c_0_avg',
 'rhs_c_0_varcoef',
 'rhs_c_1_avg',
 'rhs_c_1_varcoef',
 'rhs_c_2_avg',
 'rhs_c_2_varcoef',
 'vcg_constr_deg0_avg',
 'vcg_constr_deg0_varcoef',
 'vcg_constr_weight0_avg',
 'vcg_constr_weight0_varcoef',
 'vcg_var_weight0_avg',
 'vcg_var_weight0_varcoef',
 'A_ij_normalized0_avg',
 'A_ij_normalized0_varcoef',
 'a_normalized_varcoefs0_avg',
 'a_normalized_varcoefs0_varcoef',
 'vcg_constr_deg1_avg',
 'vcg_constr_deg1_varcoef',
 'vcg_var_deg1_avg',
 'vcg_var_deg1_varcoef',
 'vcg_var_deg1_q90mq10',
 'vcg_constr_weight1_avg',
 'vcg_constr_weight1_varcoef',
 'vcg_var_weight1_avg',
 'vcg_var_weight1_varcoef',
 'A_ij_normalized1_avg',
 'A_ij_normalized1_varcoef',
 'a_normalized_varcoefs1_avg',
 'a_normalized_varcoefs1_varcoef',
 'obj_coefs1_avg',
 'obj_coefs1_std',
 'obj_coef_per_constr1_avg',
 'obj_coef_per_constr1_std',
 'obj_coef_per_sqr_constr1_avg',
 'obj_coef_per_sqr_constr1_std',
 'vcg_constr_deg2_avg',
 'vcg_constr_deg2_varcoef',
 'vcg_var_deg2_avg',
 'vcg_var_deg2_varcoef',
 'vcg_var_deg2_q90mq10',
 'vcg_constr_weight2_avg',
 'vcg_constr_weight2_varcoef',
 'vcg_var_weight2_avg',
 'vcg_var_weight2_varcoef',
 'A_ij_normalized2_avg',
 'A_ij_normalized2_varcoef',
 'a_normalized_varcoefs2_avg',
 'a_normalized_varcoefs2_varcoef',
 'obj_coefs2_avg',
 'obj_coefs2_std',
 'obj_coef_per_constr2_avg',
 'obj_coef_per_constr2_std',
 'obj_coef_per_sqr_constr2_avg',
 'obj_coef_per_sqr_constr2_std',
 'mipgap',
 'nodecnt',
 'pre_t',
 'new_row',
 'new_col',
 'new_nonzero',
 'clique_table',
 'cliqueCuts',
 'impliedBoundCuts',
 'flowCuts',
 'mixedIntegerRoundingCuts',
 'gomoryFractionalCuts']

In [11]:
features_df = features_df[cols]
features_df

,instance_id,repetition,n_vars,n_constr,n_nzcnt,lp_avg,lp_l2_avg,lp_linf,num_i_variables,num_c_variables,...,pre_t,new_row,new_col,new_nonzero,clique_table,cliqueCuts,impliedBoundCuts,flowCuts,mixedIntegerRoundingCuts,gomoryFractionalCuts
0,mip1,1,3005.0,4440.0,532558.0,0.110512,0.191534,0.49789,330.0,2675.0,...,0.27,1997.0,1552.0,527993.0,59.0,0.0,0.0,0.0,9.0,4.0
1,mip10,1,2971.0,4372.0,505477.0,0.134393,0.221089,0.49955,313.0,2658.0,...,0.26,2058.0,1574.0,501153.0,196.0,0.0,0.0,0.0,20.0,10.0
2,mip100,1,2967.0,4364.0,502291.0,0.106764,0.190398,0.498555,311.0,2656.0,...,0.26,2054.0,1571.0,497973.0,36.0,0.0,0.0,0.0,21.0,10.0
3,mip1000,1,3011.0,4452.0,537337.0,0.230292,0.322005,0.499855,333.0,2678.0,...,0.27,2020.0,1565.0,532797.0,331.0,0.0,0.0,0.0,14.0,7.0
4,mip10000,1,2897.0,4224.0,446536.0,0.13335,0.217471,0.498412,276.0,2621.0,...,0.23,2085.0,1569.0,442525.0,24.0,0.0,0.0,0.0,95.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,mip9995,1,2943.0,4316.0,483175.0,0.125741,0.204121,0.499159,299.0,2644.0,...,0.25,1870.0,1473.0,478573.0,51.0,0.0,0.0,0.0,25.0,12.0
9996,mip9996,1,2843.0,4116.0,403525.0,0.129329,0.21971,0.499019,249.0,2594.0,...,0.21,1636.0,1331.0,398805.0,37.0,0.0,0.0,0.0,21.0,11.0
9997,mip9997,1,2947.0,4324.0,486361.0,0.161295,0.257694,0.499142,301.0,2646.0,...,0.25,2036.0,1557.0,482077.0,356.0,0.0,0.0,0.0,11.0,5.0
9998,mip9998,1,2933.0,4296.0,475210.0,0.125582,0.210217,0.49904,294.0,2639.0,...,0.24,1985.0,1528.0,470873.0,81.0,0.0,0.0,0.0,6.0,3.0
9999,mip9999,1,2943.0,4316.0,483175.0,0.157984,0.239453,0.494612,299.0,2644.0,...,0.24,1970.0,1523.0,478773.0,66.0,0.0,0.0,0.0,64.0,34.0

In [12]:
id_order = list(features_df.instance_id)

In [13]:
test_data = {'test1':[1,2,3],'test2':[4,5,6],'test3':['a','b','c']}
example_test_df = pd.DataFrame(test_data)
example_test_df

   test1  test2 test3
0      1      4     a
1      2      5     b
2      3      6     c

In [14]:
for index,row in example_test_df.iterrows():
    print(str(list(row)).strip("[]").replace("'", ""))

1, 4, a
2, 5, b
3, 6, c

In [15]:
features_df = features_df[['instance_id', 'repetition']]
features_df

     instance_id  repetition
0           mip1           1
1          mip10           1
2         mip100           1
3        mip1000           1
4       mip10000           1
...          ...         ...
9995     mip9995           1
9996     mip9996           1
9997     mip9997           1
9998     mip9998           1
9999     mip9999           1

[10000 rows x 2 columns]

In [19]:
runtimes = pd.read_excel('C:/Users/Jasmin/Documents/MSc-Thesis/Data/Runtime/Results-MIPVerify_SDPdMLPa.xlsx')
runtimes['SampleNumber'] = 'mip' + runtimes['SampleNumber'].astype('str').astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype('int').astype('str')
runtimes

,SampleNumber,SolveTime_default,SolveStatus_default,SolveTime_conf1,SolveStatus_conf1,SolveTime_conf2,SolveStatus_conf2,SolveTime_conf3,SolveStatus_conf3,SolveTime_best,Config_best
0,mip1,104.393417,InfeasibleOrUnbounded,152.683291,InfeasibleOrUnbounded,44.068493,Infeasible,78.731996,Infeasible,44.068493,SolveTime_conf2
1,mip2,9600.323414,UserLimit,9600.080699,UserLimit,9600.184597,UserLimit,9600.010288,UserLimit,9600.010288,TIMEOUT
2,mip3,9600.157577,UserLimit,1258.149140,InfeasibleOrUnbounded,3025.400426,Infeasible,2938.074613,Infeasible,1258.149140,SolveTime_conf1
3,mip4,83.344657,InfeasibleOrUnbounded,170.613330,InfeasibleOrUnbounded,54.733004,Infeasible,41.134581,Infeasible,41.134581,SolveTime_conf3
4,mip5,5567.992290,InfeasibleOrUnbounded,220.795008,InfeasibleOrUnbounded,538.053177,Infeasible,300.046997,Infeasible,220.795008,SolveTime_conf1
...,...,...,...,...,...,...,...,...,...,...,...
9995,mip9996,12.674720,InfeasibleOrUnbounded,18608.097787,UserLimit,25.863838,Infeasible,172.116870,Infeasible,12.674720,SolveTime_default
9996,mip9997,18.379950,InfeasibleOrUnbounded,110.131027,InfeasibleOrUnbounded,50.209194,Infeasible,110.876559,Infeasible,18.379950,SolveTime_default
9997,mip9998,75.684641,InfeasibleOrUnbounded,105.670172,InfeasibleOrUnbounded,106.346014,Infeasible,102.811690,Infeasible,75.684641,SolveTime_default
9998,mip9999,1669.967257,InfeasibleOrUnbounded,826.113838,InfeasibleOrUnbounded,1401.266455,Infeasible,1643.462584,Infeasible,826.113838,SolveTime_conf1
9999,mip10000,22.112561,InfeasibleOrUnbounded,378.362607,InfeasibleOrUnbounded,78.919991,Infeasible,18.838446,Infeasible,18.838446,SolveTime_conf3

In [25]:
runtimes.sort_values(by='SampleNumber', inplace=True, ignore_index=True)

In [28]:
runtimes

,SampleNumber,SolveTime_default,SolveStatus_default,SolveTime_conf1,SolveStatus_conf1,SolveTime_conf2,SolveStatus_conf2,SolveTime_conf3,SolveStatus_conf3,SolveTime_best,Config_best
0,mip1,104.393417,InfeasibleOrUnbounded,152.683291,InfeasibleOrUnbounded,44.068493,Infeasible,78.731996,Infeasible,44.068493,SolveTime_conf2
1,mip10,9600.019248,UserLimit,9600.330209,UserLimit,9600.206703,UserLimit,9600.171495,UserLimit,9600.019248,TIMEOUT
2,mip100,89.865928,InfeasibleOrUnbounded,779.582903,InfeasibleOrUnbounded,80.580781,Infeasible,215.399513,Infeasible,80.580781,SolveTime_conf2
3,mip1000,9600.048013,UserLimit,9600.379411,UserLimit,9600.130473,UserLimit,9600.117678,UserLimit,9600.048013,TIMEOUT
4,mip10000,22.112561,InfeasibleOrUnbounded,378.362607,InfeasibleOrUnbounded,78.919991,Infeasible,18.838446,Infeasible,18.838446,SolveTime_conf3
...,...,...,...,...,...,...,...,...,...,...,...
9995,mip9995,136.404467,InfeasibleOrUnbounded,169.627541,InfeasibleOrUnbounded,179.118139,Infeasible,200.963920,Infeasible,136.404467,SolveTime_default
9996,mip9996,12.674720,InfeasibleOrUnbounded,18608.097787,UserLimit,25.863838,Infeasible,172.116870,Infeasible,12.674720,SolveTime_default
9997,mip9997,18.379950,InfeasibleOrUnbounded,110.131027,InfeasibleOrUnbounded,50.209194,Infeasible,110.876559,Infeasible,18.379950,SolveTime_default
9998,mip9998,75.684641,InfeasibleOrUnbounded,105.670172,InfeasibleOrUnbounded,106.346014,Infeasible,102.811690,Infeasible,75.684641,SolveTime_default
9999,mip9999,1669.967257,InfeasibleOrUnbounded,826.113838,InfeasibleOrUnbounded,1401.266455,Infeasible,1643.462584,Infeasible,826.113838,SolveTime_conf1

In [27]:
features_df['SolveTime_default'] = runtimes.SolveTime_default
features_df

C:\Users\Jasmin\AppData\Local\Temp\ipykernel_21024\970896211.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['SolveTime_default'] = runtimes.SolveTime_default

     instance_id  repetition  SolveTime_default
0           mip1           1         104.393417
1          mip10           1        9600.019248
2         mip100           1          89.865928
3        mip1000           1        9600.048013
4       mip10000           1          22.112561
...          ...         ...                ...
9995     mip9995           1         136.404467
9996     mip9996           1          12.674720
9997     mip9997           1          18.379950
9998     mip9998           1          75.684641
9999     mip9999           1        1669.967257

[10000 rows x 3 columns]

In [29]:
features_df['SolveTime_conf1'] = runtimes.SolveTime_conf1
features_df['SolveTime_conf2'] = runtimes.SolveTime_conf2
features_df['SolveTime_conf3'] = runtimes.SolveTime_conf3
features_df

C:\Users\Jasmin\AppData\Local\Temp\ipykernel_21024\889532957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['SolveTime_conf1'] = runtimes.SolveTime_conf1
C:\Users\Jasmin\AppData\Local\Temp\ipykernel_21024\889532957.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['SolveTime_conf2'] = runtimes.SolveTime_conf2
C:\Users\Jasmin\AppData\Local\Temp\ipykernel_21024\889532957.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['SolveTime_conf3'] = runtimes.SolveTime_conf3

,instance_id,repetition,SolveTime_default,SolveTime_conf1,SolveTime_conf2,SolveTime_conf3
0,mip1,1,104.393417,152.683291,44.068493,78.731996
1,mip10,1,9600.019248,9600.330209,9600.206703,9600.171495
2,mip100,1,89.865928,779.582903,80.580781,215.399513
3,mip1000,1,9600.048013,9600.379411,9600.130473,9600.117678
4,mip10000,1,22.112561,378.362607,78.919991,18.838446
...,...,...,...,...,...,...
9995,mip9995,1,136.404467,169.627541,179.118139,200.963920
9996,mip9996,1,12.674720,18608.097787,25.863838,172.116870
9997,mip9997,1,18.379950,110.131027,50.209194,110.876559
9998,mip9998,1,75.684641,105.670172,106.346014,102.811690
9999,mip9999,1,1669.967257,826.113838,1401.266455,1643.462584

In [30]:
# @ATTRIBUTE instance_id STRING
# Add all attributes in correct order

with open("sanitycheck/feature_values.arff","a") as file:
    for col in features_df.columns:
        file.write("\n")
        if col == 'instance_id':
            newrow = '@ATTRIBUTE ' + col + ' STRING'
        else:
            newrow = '@ATTRIBUTE ' + col + ' NUMERIC'
        file.write(newrow)

    file.close()

In [43]:
features_df['SolveTime_default'][features_df['SolveTime_default'] >= 9600] = 9600
features_df['SolveTime_conf1'][features_df['SolveTime_conf1'] >= 9600] = 9600
features_df['SolveTime_conf2'][features_df['SolveTime_conf2'] >= 9600] = 9600
features_df['SolveTime_conf3'][features_df['SolveTime_conf3'] >= 9600] = 9600
features_df.head()

C:\Users\Jasmin\AppData\Local\Temp\ipykernel_21024\1894193662.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['SolveTime_default'][features_df['SolveTime_default'] >= 9600] = 9600
C:\Users\Jasmin\AppData\Local\Temp\ipykernel_21024\1894193662.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['SolveTime_conf1'][features_df['SolveTime_conf1'] >= 9600] = 9600
C:\Users\Jasmin\AppData\Local\Temp\ipykernel_21024\1894193662.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['SolveTime_conf2'][features_df['SolveTime_conf2'] >= 9600] = 9600
C:\Users\Jasmin\AppData\Local\Temp\ipykernel_21024\1894193662.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_df['SolveTime_conf3'][features_df['SolveTime_conf3'] >= 9600] = 9600

,instance_id,repetition,SolveTime_default,SolveTime_conf1,SolveTime_conf2,SolveTime_conf3
0,mip1,1,104.393417,152.683291,44.068493,78.731996
1,mip10,1,9600.000000,9600.000000,9600.000000,9600.000000
2,mip100,1,89.865928,779.582903,80.580781,215.399513
3,mip1000,1,9600.000000,9600.000000,9600.000000,9600.000000
4,mip10000,1,22.112561,378.362607,78.919991,18.838446

In [44]:
# Get comma seperated rows and iteratively add to feature_values.arff
with open("sanitycheck/feature_values.arff","a") as file:
    for index,row in features_df.iterrows():
        file.write("\n")
        newrow = str(list(row)).strip("[]").replace("'", "")
        file.write(newrow)

    file.close()

In [32]:
# double check the column order
for i in features_df.columns:
    print(i)

instance_id
repetition
SolveTime_default
SolveTime_conf1
SolveTime_conf2
SolveTime_conf3

## make description.txt

In [33]:
for i in features_df.columns:
    print('- ', i)

-  instance_id
-  repetition
-  SolveTime_default
-  SolveTime_conf1
-  SolveTime_conf2
-  SolveTime_conf3

### Make the feature_runstatus.arff file

In [34]:
runstatus_df = pd.DataFrame({'instance_id': id_order, 'repetition':[1]*10000, 'trivial':['ok']*10000})

runstatus_df

     instance_id  repetition trivial
0           mip1           1      ok
1          mip10           1      ok
2         mip100           1      ok
3        mip1000           1      ok
4       mip10000           1      ok
...          ...         ...     ...
9995     mip9995           1      ok
9996     mip9996           1      ok
9997     mip9997           1      ok
9998     mip9998           1      ok
9999     mip9999           1      ok

[10000 rows x 3 columns]

In [35]:
with open("sanitycheck/feature_runstatus.arff","a") as file:
    for index,row in runstatus_df.iterrows():
        file.write("\n")
        newrow = str(list(row)).strip("[]").replace("'", "")
        file.write(newrow)

    file.close()

### Now make feature_costs.arff file

In [36]:
costs_df = pd.DataFrame({'instance_id': id_order, 'repetition':[1]*10000})
costs_df['time_trivial'] = 0
costs_df

     instance_id  repetition  time_trivial
0           mip1           1             0
1          mip10           1             0
2         mip100           1             0
3        mip1000           1             0
4       mip10000           1             0
...          ...         ...           ...
9995     mip9995           1             0
9996     mip9996           1             0
9997     mip9997           1             0
9998     mip9998           1             0
9999     mip9999           1             0

[10000 rows x 3 columns]

In [37]:
with open("sanitycheck/feature_costs.arff","a") as file:
    for index,row in costs_df.iterrows():
        file.write("\n")
        newrow = str(list(row)).strip("[]").replace("'", "")
        file.write(newrow)

    file.close()

### Next step is creating algorithm_runs.arff

In [38]:
runtimes = pd.read_excel('C:/Users/Jasmin/Documents/MSc-Thesis/Data/Runtime/Results-MIPVerify_SDPdMLPa.xlsx')
runtimes

,SampleNumber,SolveTime_default,SolveStatus_default,SolveTime_conf1,SolveStatus_conf1,SolveTime_conf2,SolveStatus_conf2,SolveTime_conf3,SolveStatus_conf3,SolveTime_best,Config_best
0,1,104.393417,InfeasibleOrUnbounded,152.683291,InfeasibleOrUnbounded,44.068493,Infeasible,78.731996,Infeasible,44.068493,SolveTime_conf2
1,2,9600.323414,UserLimit,9600.080699,UserLimit,9600.184597,UserLimit,9600.010288,UserLimit,9600.010288,TIMEOUT
2,3,9600.157577,UserLimit,1258.149140,InfeasibleOrUnbounded,3025.400426,Infeasible,2938.074613,Infeasible,1258.149140,SolveTime_conf1
3,4,83.344657,InfeasibleOrUnbounded,170.613330,InfeasibleOrUnbounded,54.733004,Infeasible,41.134581,Infeasible,41.134581,SolveTime_conf3
4,5,5567.992290,InfeasibleOrUnbounded,220.795008,InfeasibleOrUnbounded,538.053177,Infeasible,300.046997,Infeasible,220.795008,SolveTime_conf1
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,12.674720,InfeasibleOrUnbounded,18608.097787,UserLimit,25.863838,Infeasible,172.116870,Infeasible,12.674720,SolveTime_default
9996,9997,18.379950,InfeasibleOrUnbounded,110.131027,InfeasibleOrUnbounded,50.209194,Infeasible,110.876559,Infeasible,18.379950,SolveTime_default
9997,9998,75.684641,InfeasibleOrUnbounded,105.670172,InfeasibleOrUnbounded,106.346014,Infeasible,102.811690,Infeasible,75.684641,SolveTime_default
9998,9999,1669.967257,InfeasibleOrUnbounded,826.113838,InfeasibleOrUnbounded,1401.266455,Infeasible,1643.462584,Infeasible,826.113838,SolveTime_conf1
9999,10000,22.112561,InfeasibleOrUnbounded,378.362607,InfeasibleOrUnbounded,78.919991,Infeasible,18.838446,Infeasible,18.838446,SolveTime_conf3

In [39]:
runtimes.rename(columns={'SampleNumber':'instance_id'},inplace=True)

In [40]:
runtimes['instance_id'] = 'mip' + runtimes['instance_id'].astype('str')
runtimes.head()

,instance_id,SolveTime_default,SolveStatus_default,SolveTime_conf1,SolveStatus_conf1,SolveTime_conf2,SolveStatus_conf2,SolveTime_conf3,SolveStatus_conf3,SolveTime_best,Config_best
0,mip1,104.393417,InfeasibleOrUnbounded,152.683291,InfeasibleOrUnbounded,44.068493,Infeasible,78.731996,Infeasible,44.068493,SolveTime_conf2
1,mip2,9600.323414,UserLimit,9600.080699,UserLimit,9600.184597,UserLimit,9600.010288,UserLimit,9600.010288,TIMEOUT
2,mip3,9600.157577,UserLimit,1258.149140,InfeasibleOrUnbounded,3025.400426,Infeasible,2938.074613,Infeasible,1258.149140,SolveTime_conf1
3,mip4,83.344657,InfeasibleOrUnbounded,170.613330,InfeasibleOrUnbounded,54.733004,Infeasible,41.134581,Infeasible,41.134581,SolveTime_conf3
4,mip5,5567.992290,InfeasibleOrUnbounded,220.795008,InfeasibleOrUnbounded,538.053177,Infeasible,300.046997,Infeasible,220.795008,SolveTime_conf1

In [41]:
runtimes = runtimes.drop(columns=['Config_best','SolveTime_best','SolveStatus_default','SolveStatus_conf1','SolveStatus_conf2','SolveStatus_conf3'])
runtimes.head()

,instance_id,SolveTime_default,SolveTime_conf1,SolveTime_conf2,SolveTime_conf3
0,mip1,104.393417,152.683291,44.068493,78.731996
1,mip2,9600.323414,9600.080699,9600.184597,9600.010288
2,mip3,9600.157577,1258.149140,3025.400426,2938.074613
3,mip4,83.344657,170.613330,54.733004,41.134581
4,mip5,5567.992290,220.795008,538.053177,300.046997

In [42]:
runtimes['SolveTime_default'][runtimes['SolveTime_default'] >= 9600] = 9600
runtimes['SolveTime_conf1'][runtimes['SolveTime_conf1'] >= 9600] = 9600
runtimes['SolveTime_conf2'][runtimes['SolveTime_conf2'] >= 9600] = 9600
runtimes['SolveTime_conf3'][runtimes['SolveTime_conf3'] >= 9600] = 9600
runtimes.head()

C:\Users\Jasmin\AppData\Local\Temp\ipykernel_21024\3673047457.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  runtimes['SolveTime_default'][runtimes['SolveTime_default'] >= 9600] = 9600
C:\Users\Jasmin\AppData\Local\Temp\ipykernel_21024\3673047457.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  runtimes['SolveTime_conf1'][runtimes['SolveTime_conf1'] >= 9600] = 9600
C:\Users\Jasmin\AppData\Local\Temp\ipykernel_21024\3673047457.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  runtimes['SolveTime_conf2'][runtimes['SolveTime_conf2'] >= 9600] = 9600
C:\Users\Jasmin\AppData\Local\Temp\ipykernel_21024\3673047457.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  runtimes['SolveTime_conf3'][runtimes['SolveTime_conf3'] >= 9600] = 9600

,instance_id,SolveTime_default,SolveTime_conf1,SolveTime_conf2,SolveTime_conf3
0,mip1,104.393417,152.683291,44.068493,78.731996
1,mip2,9600.000000,9600.000000,9600.000000,9600.000000
2,mip3,9600.000000,1258.149140,3025.400426,2938.074613
3,mip4,83.344657,170.613330,54.733004,41.134581
4,mip5,5567.992290,220.795008,538.053177,300.046997

In [45]:
runtimes.sort_values(by='instance_id', inplace=True)
runtimes.head()

,instance_id,SolveTime_default,SolveTime_conf1,SolveTime_conf2,SolveTime_conf3
0,mip1,104.393417,152.683291,44.068493,78.731996
9,mip10,9600.000000,9600.000000,9600.000000,9600.000000
99,mip100,89.865928,779.582903,80.580781,215.399513
999,mip1000,9600.000000,9600.000000,9600.000000,9600.000000
9999,mip10000,22.112561,378.362607,78.919991,18.838446

In [46]:
new_runtime = runtimes.stack().reset_index()
new_runtime

       level_0            level_1            0
0            0        instance_id         mip1
1            0  SolveTime_default   104.393417
2            0    SolveTime_conf1   152.683291
3            0    SolveTime_conf2    44.068493
4            0    SolveTime_conf3    78.731996
...        ...                ...          ...
49995     9998        instance_id      mip9999
49996     9998  SolveTime_default  1669.967257
49997     9998    SolveTime_conf1   826.113838
49998     9998    SolveTime_conf2  1401.266455
49999     9998    SolveTime_conf3  1643.462584

[50000 rows x 3 columns]

In [47]:
temp = {'instance_id':[], 'repetition':[1]*10000*4, 'algorithm':[],'par10':[],'runstatus':[]}
for index,row in new_runtime.iterrows():
    if row['level_1'] == 'instance_id':
        temp['instance_id'].append(row[0])
        temp['instance_id'].append(row[0])
        temp['instance_id'].append(row[0])
        temp['instance_id'].append(row[0])

    else:
        temp['algorithm'].append(row['level_1'])
        temp['par10'].append(row[0])
        if row[0] == 9600:
            temp['runstatus'].append('timeout')
        else:
            temp['runstatus'].append('ok')

In [48]:
algo_runs_df = pd.DataFrame(temp)
algo_runs_df

      instance_id  repetition          algorithm        par10 runstatus
0            mip1           1  SolveTime_default   104.393417        ok
1            mip1           1    SolveTime_conf1   152.683291        ok
2            mip1           1    SolveTime_conf2    44.068493        ok
3            mip1           1    SolveTime_conf3    78.731996        ok
4           mip10           1  SolveTime_default  9600.000000   timeout
...           ...         ...                ...          ...       ...
39995     mip9998           1    SolveTime_conf3   102.811690        ok
39996     mip9999           1  SolveTime_default  1669.967257        ok
39997     mip9999           1    SolveTime_conf1   826.113838        ok
39998     mip9999           1    SolveTime_conf2  1401.266455        ok
39999     mip9999           1    SolveTime_conf3  1643.462584        ok

[40000 rows x 5 columns]

In [49]:
algo_runs_df.loc[algo_runs_df["algorithm"] == "SolveTime_default", "algorithm"] = 'ConfigDefault'

In [50]:
algo_runs_df.loc[algo_runs_df["algorithm"] == "SolveTime_conf1", "algorithm"] = 'Config1'
algo_runs_df.loc[algo_runs_df["algorithm"] == "SolveTime_conf2", "algorithm"] = 'Config2'
algo_runs_df.loc[algo_runs_df["algorithm"] == "SolveTime_conf3", "algorithm"] = 'Config3'
algo_runs_df.head()

  instance_id  repetition      algorithm        par10 runstatus
0        mip1           1  ConfigDefault   104.393417        ok
1        mip1           1        Config1   152.683291        ok
2        mip1           1        Config2    44.068493        ok
3        mip1           1        Config3    78.731996        ok
4       mip10           1  ConfigDefault  9600.000000   timeout

In [51]:
with open("sanitycheck/algorithm_runs.arff","a") as file:
    for index,row in algo_runs_df.iterrows():
        file.write("\n")
        newrow = str(list(row)).strip("[]").replace("'", "")
        file.write(newrow)

    file.close()

### Last one.... make cv.arff

In [52]:
import random

In [53]:
# This script specifies which instances are in which of the 10 folds for 10-fold cross validation
folds_df = pd.DataFrame({'instance_id': id_order, 'repetition':[1]*10000})
folds_df

     instance_id  repetition
0           mip1           1
1          mip10           1
2         mip100           1
3        mip1000           1
4       mip10000           1
...          ...         ...
9995     mip9995           1
9996     mip9996           1
9997     mip9997           1
9998     mip9998           1
9999     mip9999           1

[10000 rows x 2 columns]

In [54]:
# Make a list of length 10000 and randomly replace 0's with numbers from 1 to 10 (each number uses up 10% of the list)
fold_list = []
fold_num = 10

for x in range(1,fold_num+1):
    for _ in range(1000):
        fold_list.append(x)


random.seed(1234)
random.shuffle(fold_list)
print(fold_list)
# Check that the lengths are correct
for i in range(1,fold_num+1):
    print(fold_list.count(i))


folds_df['fold'] = fold_list
folds_df.head()

[2, 3, 9, 4, 5, 6, 10, 3, 8, 8, 7, 4, 3, 3, 2, 2, 2, 9, 6, 6, 5, 9, 9, 6, 8, 4, 6, 1, 1, 5, 9, 7, 9, 9, 10, 6, 3, 8, 6, 6, 1, 7, 7, 9, 4, 2, 7, 3, 3, 8, 7, 6, 6, 5, 10, 7, 1, 5, 8, 5, 8, 6, 8, 9, 7, 8, 1, 10, 1, 9, 3, 1, 3, 5, 8, 10, 6, 4, 10, 2, 1, 10, 9, 8, 1, 1, 2, 9, 5, 6, 10, 3, 6, 9, 8, 10, 8, 1, 6, 2, 2, 7, 2, 6, 6, 10, 3, 5, 5, 6, 10, 3, 8, 5, 3, 2, 10, 4, 8, 2, 8, 5, 2, 3, 2, 5, 10, 10, 6, 5, 4, 4, 4, 3, 7, 10, 3, 5, 8, 8, 7, 7, 5, 3, 6, 4, 3, 1, 2, 7, 2, 8, 8, 6, 2, 8, 9, 4, 9, 6, 9, 6, 2, 10, 6, 2, 9, 3, 6, 2, 1, 8, 9, 4, 9, 3, 4, 2, 6, 10, 10, 3, 3, 8, 9, 8, 5, 10, 9, 7, 4, 8, 10, 10, 10, 6, 10, 8, 6, 10, 8, 7, 4, 3, 7, 10, 1, 2, 3, 8, 8, 2, 10, 4, 8, 3, 10, 2, 3, 2, 2, 8, 10, 9, 4, 7, 8, 4, 3, 10, 4, 1, 4, 7, 9, 8, 10, 7, 8, 8, 9, 10, 9, 4, 4, 7, 1, 1, 3, 7, 9, 2, 9, 6, 6, 1, 3, 2, 2, 4, 4, 7, 1, 1, 6, 6, 2, 3, 9, 4, 1, 1, 7, 4, 6, 9, 8, 6, 7, 2, 9, 4, 6, 4, 3, 1, 2, 8, 5, 3, 6, 8, 8, 5, 7, 1, 4, 9, 1, 7, 7, 5, 1, 8, 5, 5, 7, 8, 9, 5, 3, 8, 8, 5, 7, 4, 6, 1, 8, 1, 3, 9, 2, 2, 4, 7, 9, 7, 9, 9, 6, 8, 8, 4, 7, 5, 7, 1, 1, 9, 10, 3, 9, 2, 9, 10, 3, 10, 7, 6, 6, 1, 7, 6, 1, 7, 5, 7, 8, 3, 8, 9, 2, 2, 3, 10, 2, 1, 5, 1, 9, 1, 10, 8, 4, 7, 10, 7, 7, 6, 4, 4, 10, 4, 4, 6, 3, 3, 6, 1, 3, 1, 5, 4, 2, 6, 7, 9, 10, 3, 5, 7, 6, 8, 1, 4, 1, 7, 4, 4, 1, 5, 10, 5, 6, 6, 9, 5, 4, 2, 5, 1, 4, 5, 8, 7, 9, 5, 10, 6, 2, 6, 1, 9, 5, 2, 7, 8, 1, 8, 10, 8, 4, 7, 8, 5, 3, 2, 6, 4, 4, 10, 10, 6, 8, 9, 9, 7, 10, 4, 3, 9, 9, 8, 2, 2, 2, 9, 1, 10, 2, 8, 1, 9, 8, 6, 1, 2, 9, 1, 2, 10, 7, 7, 7, 10, 4, 5, 6, 2, 6, 8, 6, 4, 2, 5, 4, 4, 2, 1, 8, 10, 6, 4, 6, 9, 3, 8, 1, 9, 3, 2, 9, 3, 5, 10, 9, 5, 6, 1, 6, 1, 8, 8, 2, 10, 5, 9, 10, 8, 3, 7, 4, 9, 6, 5, 7, 4, 3, 9, 1, 3, 9, 6, 6, 8, 3, 3, 8, 7, 3, 4, 2, 5, 6, 10, 7, 2, 6, 4, 9, 2, 10, 10, 2, 4, 6, 10, 3, 10, 4, 9, 8, 1, 1, 4, 9, 10, 3, 4, 2, 8, 3, 8, 8, 4, 1, 5, 2, 3, 1, 5, 1, 3, 2, 3, 4, 8, 2, 3, 3, 10, 1, 7, 6, 8, 3, 5, 4, 2, 4, 5, 3, 1, 6, 8, 8, 5, 7, 9, 3, 3, 8, 5, 1, 6, 4, 3, 1, 1, 10, 9, 4, 6, 9, 10, 10, 5, 8, 2, 3, 5, 4, 8, 9, 10, 6, 1, 1, 8, 9, 9, 1, 8, 2, 2, 2, 3, 1, 8, 5, 5, 7, 8, 8, 6, 6, 4, 3, 8, 6, 8, 6, 10, 10, 8, 2, 9, 7, 6, 1, 1, 8, 9, 7, 7, 3, 4, 6, 2, 10, 4, 4, 1, 6, 7, 1, 6, 3, 7, 4, 8, 6, 10, 9, 5, 7, 3, 4, 4, 6, 4, 2, 6, 1, 8, 6, 5, 3, 10, 9, 10, 8, 2, 1, 8, 7, 8, 1, 1, 8, 8, 9, 4, 1, 8, 3, 7, 6, 4, 2, 3, 10, 5, 9, 8, 6, 3, 5, 10, 8, 3, 4, 8, 3, 1, 2, 1, 9, 1, 7, 6, 1, 3, 9, 1, 5, 7, 4, 1, 6, 6, 9, 8, 5, 10, 4, 3, 8, 10, 1, 6, 3, 1, 6, 3, 9, 9, 5, 8, 2, 4, 9, 5, 6, 2, 4, 10, 3, 5, 2, 9, 4, 3, 8, 3, 3, 1, 1, 10, 2, 1, 9, 3, 6, 2, 1, 5, 10, 10, 9, 3, 4, 4, 10, 8, 4, 2, 3, 2, 7, 6, 2, 5, 5, 3, 6, 7, 4, 10, 5, 10, 8, 2, 9, 1, 4, 2, 8, 2, 1, 3, 9, 3, 10, 6, 10, 1, 10, 5, 7, 6, 2, 10, 2, 9, 3, 6, 5, 5, 2, 1, 2, 3, 10, 2, 5, 8, 10, 9, 5, 4, 1, 10, 7, 1, 9, 3, 4, 3, 8, 7, 1, 8, 3, 9, 9, 5, 4, 2, 7, 7, 4, 1, 8, 10, 5, 6, 2, 1, 8, 2, 9, 3, 7, 8, 7, 4, 3, 5, 3, 10, 5, 7, 8, 8, 10, 10, 7, 2, 3, 6, 6, 10, 3, 10, 8, 10, 10, 5, 2, 10, 3, 8, 8, 6, 9, 2, 3, 9, 5, 2, 8, 9, 8, 6, 10, 3, 9, 5, 1, 4, 6, 1, 4, 1, 9, 10, 10, 2, 10, 6, 8, 6, 10, 5, 10, 8, 5, 6, 4, 1, 5, 5, 4, 3, 10, 6, 8, 7, 3, 5, 9, 10, 6, 2, 5, 3, 4, 8, 6, 9, 7, 8, 8, 3, 4, 7, 1, 9, 6, 5, 5, 3, 9, 3, 7, 7, 4, 8, 7, 9, 8, 6, 3, 6, 2, 4, 2, 1, 10, 3, 1, 8, 6, 5, 2, 10, 8, 10, 6, 9, 3, 2, 8, 9, 4, 4, 10, 6, 6, 5, 4, 10, 1, 3, 10, 7, 3, 6, 2, 4, 2, 5, 8, 7, 10, 8, 9, 1, 6, 1, 10, 4, 10, 4, 2, 3, 8, 3, 10, 1, 6, 6, 7, 7, 9, 4, 8, 3, 6, 1, 7, 6, 9, 9, 8, 1, 9, 9, 6, 5, 7, 6, 1, 8, 2, 10, 7, 9, 3, 10, 10, 3, 1, 8, 10, 8, 1, 1, 4, 2, 4, 3, 7, 9, 8, 9, 1, 8, 1, 3, 7, 9, 6, 4, 4, 8, 1, 10, 10, 7, 2, 3, 8, 4, 4, 2, 10, 1, 9, 3, 3, 1, 5, 10, 6, 10, 4, 6, 9, 8, 2, 8, 9, 7, 3, 3, 1, 3, 10, 3, 3, 3, 1, 5, 3, 8, 3, 4, 8, 6, 1, 2, 10, 5, 6, 8, 10, 9, 4, 1, 8, 6, 4, 7, 10, 6, 2, 2, 8, 6, 5, 2, 7, 4, 1, 7, 5, 5, 8, 5, 2, 7, 10, 9, 6, 2, 3, 4, 7, 7, 8, 9, 9, 10, 10, 2, 3, 7, 9, 8, 1, 10, 3, 7, 3, 7, 6, 5, 4, 7, 3, 3, 4, 3, 3, 10, 10, 5, 7, 5, 9, 4, 3, 7, 7, 1, 8, 9, 4, 10, 7, 3, 10, 7, 7, 7, 4, 10, 9, 7, 4, 2, 5, 4, 10, 9, 5, 7, 5, 5, 2, 4, 6, 1, 2, 3, 6, 10, 9, 6, 7, 9, 7, 2, 1, 1, 4, 10, 8, 6, 4, 8, 1, 9, 6, 7, 2, 7, 1, 3, 8, 6, 9, 6, 8, 8, 1, 9, 8, 9, 3, 10, 9, 7, 8, 5, 9, 5, 3, 7, 4, 7, 5, 4, 3, 1, 7, 4, 5, 10, 4, 9, 9, 5, 1, 9, 6, 2, 8, 1, 7, 2, 2, 5, 5, 9, 6, 4, 5, 1, 7, 8, 7, 1, 3, 1, 9, 1, 4, 4, 10, 8, 4, 1, 4, 1, 2, 5, 7, 1, 8, 3, 5, 8, 9, 9, 7, 1, 5, 3, 3, 5, 8, 7, 3, 5, 2, 4, 5, 9, 7, 1, 2, 5, 7, 6, 2, 6, 4, 5, 1, 3, 4, 4, 6, 9, 9, 2, 4, 10, 5, 1, 7, 4, 1, 4, 1, 2, 9, 2, 7, 8, 3, 6, 8, 6, 3, 9, 6, 1, 4, 3, 4, 2, 2, 8, 1, 3, 1, 2, 2, 3, 10, 6, 2, 3, 7, 2, 5, 3, 10, 9, 5, 2, 9, 8, 10, 3, 10, 9, 6, 6, 8, 2, 8, 2, 6, 10, 6, 6, 7, 1, 7, 4, 10, 10, 6, 1, 9, 1, 10, 2, 2, 8, 3, 4, 7, 4, 1, 4, 5, 4, 5, 6, 4, 6, 10, 1, 10, 2, 4, 10, 7, 10, 5, 4, 5, 1, 5, 1, 9, 2, 5, 1, 5, 8, 10, 9, 2, 7, 10, 1, 2, 6, 8, 1, 6, 9, 1, 1, 10, 8, 6, 2, 1, 3, 2, 5, 9, 5, 3, 6, 9, 4, 1, 9, 9, 7, 1, 10, 10, 7, 1, 10, 3, 6, 7, 8, 1, 10, 1, 9, 7, 1, 5, 4, 7, 3, 3, 3, 7, 2, 3, 1, 9, 1, 10, 5, 9, 8, 5, 9, 9, 3, 5, 4, 3, 3, 2, 1, 7, 8, 5, 1, 9, 6, 5, 8, 8, 10, 5, 1, 3, 4, 6, 6, 5, 5, 4, 1, 9, 10, 7, 6, 2, 2, 4, 4, 5, 3, 4, 9, 5, 1, 10, 2, 7, 2, 3, 5, 7, 8, 9, 7, 7, 4, 3, 9, 5, 4, 4, 4, 3, 5, 8, 6, 5, 5, 1, 7, 7, 9, 4, 10, 10, 9, 10, 5, 5, 9, 3, 4, 6, 3, 2, 4, 5, 10, 3, 7, 1, 6, 3, 10, 10, 3, 4, 8, 8, 1, 6, 2, 4, 6, 1, 7, 5, 8, 8, 3, 8, 6, 4, 5, 10, 10, 3, 6, 3, 1, 2, 1, 6, 9, 10, 1, 2, 1, 8, 8, 9, 3, 4, 5, 8, 10, 1, 8, 2, 6, 1, 10, 7, 6, 7, 3, 7, 5, 6, 8, 7, 9, 8, 5, 1, 4, 2, 5, 5, 4, 10, 9, 9, 2, 6, 3, 7, 2, 2, 2, 6, 3, 2, 6, 8, 9, 5, 4, 9, 9, 10, 9, 5, 4, 7, 5, 3, 5, 10, 2, 10, 10, 1, 10, 2, 5, 9, 7, 2, 6, 5, 1, 1, 1, 9, 10, 2, 4, 3, 3, 4, 8, 6, 3, 3, 1, 8, 4, 4, 1, 5, 2, 7, 5, 3, 6, 6, 1, 10, 1, 10, 3, 5, 10, 8, 8, 6, 5, 7, 8, 10, 4, 10, 5, 1, 6, 1, 1, 5, 2, 3, 4, 1, 2, 4, 6, 10, 1, 4, 8, 3, 9, 8, 8, 5, 6, 10, 8, 10, 1, 7, 8, 4, 3, 4, 9, 2, 5, 4, 8, 6, 2, 6, 3, 1, 5, 6, 8, 3, 6, 8, 2, 7, 8, 9, 9, 10, 2, 9, 1, 5, 7, 3, 2, 10, 4, 6, 8, 5, 4, 7, 2, 4, 9, 1, 7, 7, 3, 4, 4, 1, 7, 10, 9, 4, 3, 5, 9, 8, 8, 9, 2, 9, 4, 6, 5, 8, 5, 8, 5, 2, 5, 1, 9, 5, 3, 7, 9, 9, 3, 4, 7, 5, 10, 4, 8, 6, 1, 9, 9, 5, 3, 7, 6, 5, 8, 3, 2, 9, 10, 5, 4, 8, 2, 7, 6, 5, 5, 1, 1, 10, 9, 4, 9, 2, 5, 2, 10, 2, 7, 4, 6, 2, 9, 7, 8, 7, 9, 3, 7, 7, 10, 8, 2, 4, 2, 9, 8, 7, 3, 6, 2, 7, 2, 5, 9, 3, 2, 7, 2, 8, 4, 6, 10, 10, 5, 3, 6, 10, 5, 6, 5, 3, 2, 7, 10, 9, 6, 9, 2, 2, 3, 1, 2, 4, 4, 7, 9, 10, 7, 10, 10, 5, 7, 8, 7, 6, 6, 6, 2, 10, 8, 9, 6, 9, 1, 6, 2, 5, 4, 10, 5, 1, 7, 7, 2, 4, 5, 2, 9, 3, 1, 3, 6, 9, 1, 3, 8, 6, 9, 5, 6, 7, 2, 2, 5, 1, 6, 7, 9, 5, 7, 4, 9, 1, 3, 1, 5, 9, 2, 6, 2, 9, 6, 5, 9, 10, 1, 4, 7, 4, 4, 3, 1, 1, 3, 7, 2, 6, 3, 5, 2, 8, 6, 9, 5, 10, 8, 1, 7, 5, 8, 1, 9, 1, 6, 10, 1, 8, 10, 2, 9, 1, 7, 8, 1, 1, 3, 4, 7, 3, 7, 4, 8, 3, 10, 3, 1, 5, 4, 6, 8, 9, 5, 5, 3, 8, 1, 2, 1, 5, 6, 10, 1, 6, 2, 2, 3, 6, 4, 8, 5, 7, 10, 1, 3, 9, 7, 10, 8, 8, 6, 1, 2, 8, 10, 1, 10, 2, 10, 9, 5, 9, 1, 9, 9, 4, 10, 2, 4, 10, 3, 7, 9, 7, 7, 3, 4, 9, 4, 9, 3, 2, 3, 8, 2, 8, 6, 4, 7, 2, 4, 3, 8, 7, 7, 3, 7, 9, 2, 3, 2, 7, 2, 5, 5, 9, 3, 4, 5, 9, 7, 9, 10, 6, 3, 8, 5, 5, 6, 1, 6, 10, 10, 10, 10, 2, 8, 3, 2, 9, 5, 7, 2, 8, 5, 4, 6, 3, 1, 2, 9, 1, 10, 8, 5, 9, 1, 5, 8, 5, 6, 8, 8, 2, 10, 3, 7, 6, 8, 8, 5, 9, 10, 9, 5, 9, 10, 5, 5, 3, 5, 8, 8, 3, 2, 5, 6, 6, 9, 7, 5, 9, 3, 6, 7, 10, 4, 10, 6, 6, 6, 6, 4, 8, 9, 4, 3, 3, 3, 8, 10, 5, 6, 4, 7, 10, 4, 7, 1, 1, 2, 1, 4, 2, 6, 3, 6, 8, 7, 10, 6, 6, 1, 1, 9, 4, 10, 1, 3, 8, 2, 3, 9, 1, 6, 5, 7, 1, 7, 8, 4, 10, 6, 8, 1, 2, 10, 10, 8, 4, 8, 3, 1, 2, 4, 1, 5, 4, 1, 2, 3, 1, 1, 7, 3, 6, 6, 5, 9, 1, 8, 9, 9, 10, 7, 8, 2, 7, 1, 4, 2, 9, 2, 8, 9, 5, 7, 2, 7, 5, 7, 7, 1, 4, 7, 4, 9, 10, 2, 6, 5, 5, 6, 3, 4, 4, 6, 9, 1, 2, 8, 8, 2, 9, 1, 6, 9, 1, 4, 6, 4, 5, 8, 1, 4, 10, 3, 4, 5, 8, 5, 6, 1, 4, 1, 8, 2, 2, 8, 5, 5, 10, 2, 10, 4, 3, 9, 3, 7, 8, 6, 8, 6, 9, 4, 4, 2, 10, 2, 2, 3, 9, 6, 1, 10, 7, 7, 10, 5, 7, 2, 10, 7, 3, 6, 9, 4, 7, 6, 3, 2, 2, 10, 1, 5, 8, 8, 7, 6, 9, 10, 8, 1, 7, 3, 7, 10, 7, 6, 3, 1, 5, 10, 9, 8, 3, 10, 4, 9, 6, 10, 8, 7, 5, 7, 8, 8, 9, 7, 10, 10, 3, 10, 8, 1, 8, 4, 4, 4, 10, 10, 7, 6, 2, 1, 8, 6, 1, 10, 2, 5, 9, 2, 8, 7, 10, 4, 1, 2, 7, 5, 10, 2, 4, 5, 10, 4, 5, 1, 6, 7, 7, 2, 5, 7, 5, 7, 2, 3, 1, 10, 4, 10, 7, 5, 6, 4, 9, 9, 4, 8, 9, 10, 7, 10, 5, 10, 8, 10, 10, 7, 3, 3, 4, 3, 9, 5, 7, 3, 9, 9, 5, 8, 3, 3, 7, 7, 8, 3, 6, 4, 3, 8, 8, 8, 6, 1, 6, 4, 4, 4, 7, 6, 2, 3, 5, 2, 4, 9, 10, 1, 2, 1, 8, 10, 9, 3, 1, 2, 5, 8, 3, 1, 9, 4, 7, 9, 7, 8, 4, 4, 4, 8, 3, 2, 4, 10, 2, 8, 4, 10, 4, 2, 9, 1, 10, 1, 8, 2, 1, 3, 7, 6, 4, 8, 7, 1, 5, 2, 1, 1, 3, 10, 7, 8, 2, 3, 9, 3, 6, 9, 5, 7, 10, 2, 6, 9, 7, 2, 6, 8, 5, 10, 3, 4, 9, 5, 1, 1, 9, 8, 6, 9, 3, 6, 8, 8, 8, 2, 7, 9, 2, 7, 1, 5, 9, 1, 7, 2, 9, 3, 6, 10, 7, 10, 2, 8, 6, 8, 2, 5, 9, 6, 3, 4, 7, 7, 7, 6, 8, 7, 9, 2, 8, 8, 1, 10, 7, 4, 10, 6, 2, 9, 2, 2, 9, 2, 3, 7, 8, 4, 4, 3, 9, 4, 3, 1, 7, 4, 4, 8, 3, 7, 8, 10, 1, 5, 2, 4, 9, 9, 10, 5, 6, 9, 10, 7, 10, 6, 2, 1, 5, 5, 10, 3, 6, 2, 10, 1, 2, 7, 5, 2, 8, 5, 5, 8, 9, 3, 7, 4, 5, 7, 1, 6, 10, 1, 3, 7, 8, 2, 1, 8, 6, 6, 5, 2, 3, 1, 6, 5, 10, 10, 4, 1, 4, 7, 4, 3, 6, 2, 3, 3, 8, 1, 5, 4, 2, 5, 1, 4, 3, 10, 2, 6, 9, 9, 2, 5, 3, 5, 9, 7, 10, 2, 7, 5, 2, 8, 5, 5, 2, 7, 9, 6, 7, 4, 9, 6, 1, 6, 4, 8, 2, 4, 10, 7, 6, 3, 8, 6, 6, 3, 2, 8, 8, 2, 1, 10, 3, 4, 7, 7, 1, 7, 7, 1, 5, 1, 10, 8, 5, 1, 10, 2, 10, 7, 4, 1, 10, 8, 10, 6, 2, 2, 4, 8, 8, 4, 4, 4, 7, 5, 10, 4, 7, 1, 5, 2, 4, 2, 9, 8, 4, 1, 6, 4, 3, 5, 6, 5, 9, 6, 7, 1, 2, 2, 3, 1, 2, 8, 10, 2, 3, 3, 3, 10, 1, 10, 7, 2, 3, 8, 4, 10, 2, 2, 3, 6, 8, 1, 8, 9, 5, 5, 5, 7, 4, 1, 9, 9, 7, 8, 9, 7, 6, 4, 7, 9, 3, 8, 1, 3, 9, 8, 4, 8, 6, 2, 6, 4, 4, 10, 6, 2, 5, 5, 2, 6, 10, 8, 6, 1, 5, 8, 4, 9, 2, 3, 6, 8, 6, 4, 2, 6, 8, 2, 5, 3, 4, 1, 2, 3, 6, 7, 4, 4, 1, 4, 5, 9, 7, 4, 8, 3, 9, 2, 3, 10, 5, 5, 6, 3, 5, 2, 10, 5, 5, 2, 5, 8, 8, 3, 3, 3, 3, 2, 4, 8, 4, 4, 7, 7, 6, 1, 10, 2, 1, 1, 3, 7, 9, 6, 7, 2, 9, 9, 4, 8, 2, 3, 8, 4, 9, 10, 8, 1, 8, 10, 7, 2, 2, 9, 9, 8, 4, 10, 2, 9, 10, 3, 2, 9, 4, 4, 1, 1, 7, 6, 1, 3, 10, 3, 6, 3, 8, 1, 10, 10, 1, 8, 3, 4, 8, 6, 10, 3, 5, 1, 6, 9, 5, 9, 7, 2, 5, 5, 6, 8, 6, 9, 6, 1, 6, 6, 10, 2, 8, 6, 2, 4, 6, 6, 4, 4, 7, 5, 7, 7, 5, 9, 10, 8, 5, 1, 10, 3, 5, 2, 2, 3, 9, 7, 3, 4, 5, 9, 3, 9, 5, 5, 6, 4, 3, 9, 10, 2, 5, 9, 7, 10, 3, 9, 9, 8, 6, 9, 6, 4, 5, 9, 3, 9, 2, 7, 2, 2, 4, 3, 1, 1, 3, 6, 4, 3, 9, 4, 10, 3, 9, 5, 9, 5, 5, 4, 2, 2, 10, 6, 7, 7, 6, 4, 3, 6, 8, 3, 9, 9, 8, 6, 4, 8, 6, 4, 7, 4, 4, 3, 4, 3, 3, 8, 4, 10, 6, 3, 8, 8, 5, 2, 2, 8, 1, 2, 10, 6, 2, 9, 7, 3, 8, 10, 8, 2, 5, 4, 7, 7, 7, 1, 3, 2, 3, 4, 5, 2, 5, 10, 7, 9, 6, 2, 10, 1, 1, 4, 8, 10, 7, 7, 9, 5, 6, 2, 2, 6, 5, 2, 7, 5, 10, 1, 4, 2, 4, 6, 1, 5, 6, 1, 10, 10, 7, 10, 9, 7, 3, 9, 3, 2, 8, 2, 5, 10, 1, 8, 9, 5, 2, 10, 1, 2, 2, 5, 8, 8, 6, 9, 5, 5, 6, 1, 8, 7, 2, 6, 7, 3, 9, 8, 8, 7, 3, 8, 10, 4, 1, 4, 6, 2, 10, 2, 4, 3, 6, 4, 4, 7, 1, 4, 5, 9, 6, 6, 3, 8, 9, 8, 9, 5, 8, 7, 1, 1, 10, 7, 9, 8, 1, 3, 6, 10, 2, 3, 7, 4, 5, 4, 7, 3, 7, 2, 1, 5, 9, 1, 2, 9, 7, 4, 10, 4, 2, 3, 1, 9, 1, 1, 9, 1, 10, 8, 3, 1, 4, 3, 5, 7, 10, 10, 5, 1, 3, 3, 3, 6, 2, 8, 7, 2, 7, 3, 7, 3, 2, 9, 8, 7, 10, 10, 3, 8, 6, 1, 9, 7, 1, 6, 4, 2, 1, 8, 8, 3, 4, 10, 5, 3, 1, 10, 10, 4, 1, 5, 4, 5, 6, 9, 10, 2, 7, 10, 9, 5, 9, 2, 2, 10, 1, 8, 2, 9, 3, 6, 3, 1, 8, 7, 6, 5, 7, 4, 10, 2, 9, 4, 5, 6, 9, 5, 4, 5, 7, 4, 6, 8, 5, 6, 9, 1, 2, 5, 5, 2, 7, 7, 7, 10, 4, 10, 2, 5, 6, 3, 1, 2, 3, 5, 2, 3, 1, 5, 2, 8, 1, 6, 6, 6, 2, 4, 4, 8, 4, 7, 7, 7, 1, 6, 8, 8, 8, 7, 6, 3, 8, 7, 1, 2, 6, 3, 4, 9, 3, 5, 3, 2, 4, 6, 8, 6, 1, 9, 6, 1, 8, 6, 8, 7, 3, 9, 8, 1, 2, 10, 10, 7, 7, 5, 2, 1, 5, 10, 4, 7, 10, 2, 3, 4, 1, 4, 4, 7, 10, 7, 10, 9, 10, 3, 10, 8, 7, 10, 2, 1, 3, 4, 8, 5, 5, 1, 2, 1, 6, 1, 3, 4, 9, 7, 2, 10, 2, 8, 8, 8, 6, 4, 8, 8, 5, 4, 4, 3, 6, 3, 8, 8, 3, 2, 1, 8, 1, 2, 1, 9, 7, 2, 1, 6, 3, 7, 10, 4, 10, 2, 5, 8, 7, 7, 1, 5, 6, 10, 2, 8, 8, 3, 3, 8, 4, 3, 9, 9, 9, 4, 4, 9, 4, 3, 2, 7, 9, 6, 6, 9, 9, 4, 6, 4, 6, 1, 4, 3, 2, 1, 2, 3, 2, 2, 8, 4, 6, 5, 7, 10, 1, 1, 3, 1, 5, 10, 8, 2, 1, 7, 8, 7, 2, 2, 9, 10, 8, 5, 5, 3, 6, 4, 7, 2, 9, 5, 3, 8, 3, 3, 4, 9, 7, 10, 3, 8, 2, 5, 10, 7, 9, 8, 9, 6, 4, 10, 10, 10, 10, 3, 10, 3, 6, 1, 4, 2, 1, 9, 3, 10, 7, 3, 7, 2, 8, 2, 7, 7, 2, 6, 7, 10, 7, 9, 4, 3, 8, 10, 5, 2, 7, 10, 2, 1, 9, 4, 5, 1, 3, 1, 8, 6, 4, 2, 3, 7, 3, 8, 4, 6, 9, 6, 6, 7, 1, 9, 1, 4, 4, 8, 9, 3, 2, 5, 6, 9, 4, 1, 4, 5, 6, 2, 9, 9, 9, 8, 10, 6, 6, 3, 8, 2, 4, 9, 10, 8, 3, 9, 8, 6, 8, 9, 4, 10, 7, 7, 5, 3, 9, 5, 4, 6, 8, 9, 9, 5, 1, 1, 9, 5, 3, 6, 3, 9, 2, 2, 9, 1, 5, 3, 10, 8, 9, 10, 4, 8, 3, 1, 8, 9, 10, 3, 4, 1, 10, 2, 5, 8, 9, 7, 1, 1, 8, 10, 5, 9, 4, 3, 10, 5, 9, 5, 8, 6, 7, 5, 1, 10, 1, 1, 6, 9, 4, 4, 10, 9, 3, 7, 3, 10, 5, 8, 1, 8, 2, 5, 4, 9, 5, 7, 5, 5, 6, 2, 1, 8, 8, 8, 3, 4, 8, 6, 10, 9, 3, 6, 2, 6, 2, 5, 9, 1, 2, 10, 8, 9, 4, 4, 3, 5, 1, 5, 10, 6, 1, 2, 4, 10, 3, 5, 4, 3, 7, 1, 6, 2, 8, 4, 6, 5, 4, 9, 10, 6, 7, 4, 7, 8, 9, 10, 10, 1, 3, 6, 6, 3, 2, 10, 4, 5, 6, 4, 8, 9, 3, 2, 8, 8, 1, 10, 3, 2, 6, 1, 10, 7, 10, 7, 6, 10, 10, 4, 3, 4, 8, 4, 3, 7, 3, 2, 4, 1, 9, 3, 9, 5, 3, 6, 4, 2, 5, 6, 2, 2, 6, 9, 9, 1, 5, 6, 2, 10, 7, 9, 2, 5, 3, 2, 3, 5, 4, 6, 9, 1, 9, 2, 9, 10, 7, 1, 7, 4, 7, 4, 7, 8, 3, 6, 9, 10, 7, 7, 9, 2, 5, 7, 10, 2, 4, 6, 5, 9, 3, 2, 9, 8, 2, 4, 9, 9, 3, 7, 6, 5, 1, 4, 3, 1, 3, 9, 2, 4, 2, 6, 4, 9, 9, 3, 2, 9, 10, 10, 10, 10, 10, 10, 10, 8, 7, 2, 10, 2, 3, 3, 1, 9, 10, 9, 7, 2, 3, 5, 6, 4, 3, 7, 3, 10, 6, 8, 10, 2, 6, 10, 5, 9, 8, 4, 5, 8, 1, 3, 6, 1, 7, 10, 3, 5, 5, 10, 2, 8, 1, 3, 8, 10, 10, 7, 8, 4, 2, 5, 1, 2, 5, 9, 7, 7, 9, 1, 3, 1, 8, 5, 5, 2, 9, 10, 1, 8, 2, 4, 10, 2, 3, 4, 5, 1, 9, 7, 5, 3, 5, 3, 5, 6, 3, 5, 9, 6, 1, 10, 1, 8, 8, 8, 5, 10, 2, 7, 8, 4, 7, 3, 9, 4, 7, 6, 10, 10, 10, 2, 8, 1, 3, 5, 2, 7, 4, 10, 8, 4, 1, 9, 10, 5, 4, 7, 8, 5, 4, 7, 3, 8, 2, 7, 1, 6, 10, 7, 3, 7, 4, 8, 1, 3, 6, 7, 10, 7, 9, 5, 9, 5, 5, 7, 9, 8, 8, 3, 9, 6, 10, 9, 7, 8, 10, 2, 4, 9, 3, 5, 8, 2, 6, 6, 1, 1, 6, 9, 5, 5, 2, 1, 2, 8, 5, 8, 9, 6, 7, 4, 10, 4, 5, 8, 9, 8, 9, 7, 10, 7, 7, 4, 6, 8, 3, 4, 4, 1, 2, 3, 1, 6, 5, 3, 3, 3, 4, 5, 7, 5, 7, 2, 9, 2, 6, 5, 3, 9, 6, 6, 7, 8, 7, 5, 4, 2, 1, 7, 2, 3, 4, 4, 3, 4, 3, 6, 3, 7, 7, 2, 6, 1, 8, 7, 10, 8, 3, 1, 7, 8, 4, 5, 6, 9, 6, 8, 3, 7, 8, 8, 4, 5, 7, 10, 2, 8, 2, 6, 3, 7, 7, 1, 10, 7, 8, 7, 1, 3, 8, 6, 2, 3, 7, 10, 1, 6, 1, 1, 5, 8, 7, 10, 5, 3, 4, 7, 3, 6, 5, 1, 8, 5, 3, 2, 9, 1, 1, 10, 2, 7, 7, 4, 2, 6, 5, 8, 7, 4, 3, 7, 7, 1, 6, 4, 9, 1, 6, 7, 6, 7, 3, 4, 8, 4, 1, 3, 1, 8, 10, 9, 8, 10, 4, 8, 1, 3, 3, 9, 8, 6, 1, 10, 2, 9, 6, 10, 7, 8, 7, 7, 8, 9, 1, 7, 10, 2, 6, 10, 3, 6, 7, 6, 5, 1, 3, 10, 3, 7, 6, 5, 7, 10, 6, 2, 8, 1, 1, 9, 3, 8, 8, 10, 8, 6, 7, 9, 9, 4, 8, 9, 9, 6, 10, 9, 5, 3, 4, 7, 10, 10, 6, 9, 9, 1, 4, 9, 3, 3, 9, 4, 5, 10, 10, 10, 5, 7, 4, 10, 3, 4, 5, 3, 1, 2, 1, 7, 7, 8, 10, 3, 5, 6, 7, 8, 5, 4, 4, 10, 5, 2, 1, 5, 10, 5, 9, 2, 4, 3, 9, 7, 10, 8, 6, 4, 8, 9, 6, 2, 4, 4, 2, 2, 1, 5, 8, 2, 9, 3, 7, 9, 4, 10, 8, 3, 5, 6, 5, 5, 10, 4, 4, 7, 2, 1, 9, 4, 7, 1, 9, 9, 6, 6, 3, 8, 9, 2, 10, 2, 2, 3, 6, 7, 7, 1, 1, 6, 5, 10, 10, 4, 4, 3, 5, 4, 9, 10, 6, 8, 6, 5, 2, 1, 8, 6, 2, 1, 7, 4, 1, 10, 2, 6, 6, 2, 5, 3, 1, 8, 10, 1, 1, 7, 4, 7, 6, 4, 4, 5, 8, 8, 9, 10, 10, 3, 1, 8, 4, 6, 10, 8, 10, 4, 8, 3, 1, 10, 1, 1, 1, 5, 5, 5, 6, 5, 2, 7, 7, 4, 8, 4, 10, 5, 3, 4, 5, 4, 5, 7, 7, 5, 10, 5, 7, 3, 2, 2, 6, 10, 7, 9, 6, 9, 5, 4, 10, 9, 8, 2, 8, 5, 5, 9, 6, 7, 10, 10, 4, 5, 8, 10, 9, 10, 9, 2, 3, 4, 6, 6, 1, 3, 10, 9, 8, 9, 1, 3, 7, 1, 5, 9, 7, 7, 1, 6, 4, 10, 1, 7, 7, 9, 6, 8, 10, 10, 3, 4, 7, 10, 6, 7, 5, 2, 5, 4, 7, 9, 1, 6, 5, 2, 8, 2, 3, 3, 2, 8, 3, 4, 7, 7, 1, 4, 8, 9, 4, 7, 10, 4, 10, 1, 10, 8, 9, 9, 4, 10, 1, 10, 9, 2, 3, 10, 4, 3, 4, 10, 5, 6, 6, 9, 6, 10, 6, 10, 5, 7, 1, 5, 7, 2, 5, 5, 6, 4, 10, 3, 7, 2, 5, 7, 10, 3, 6, 8, 6, 7, 4, 2, 6, 7, 8, 7, 1, 7, 3, 9, 4, 2, 10, 9, 4, 7, 2, 6, 2, 9, 10, 4, 5, 5, 4, 5, 10, 7, 10, 8, 1, 5, 6, 4, 10, 7, 10, 10, 1, 9, 4, 7, 7, 5, 3, 2, 5, 1, 10, 6, 7, 5, 4, 2, 10, 2, 6, 5, 4, 6, 10, 7, 4, 4, 7, 2, 10, 4, 5, 1, 4, 1, 10, 7, 6, 5, 10, 7, 5, 9, 3, 5, 6, 1, 1, 9, 1, 5, 8, 7, 3, 2, 7, 3, 4, 9, 4, 2, 2, 9, 2, 2, 9, 8, 4, 7, 9, 10, 3, 2, 1, 1, 1, 10, 4, 1, 2, 8, 9, 6, 7, 4, 2, 3, 10, 3, 7, 4, 5, 10, 8, 4, 3, 10, 6, 7, 7, 8, 6, 10, 4, 9, 7, 10, 5, 4, 4, 5, 2, 10, 3, 2, 10, 1, 3, 1, 8, 8, 8, 9, 9, 8, 5, 8, 4, 2, 10, 3, 3, 3, 6, 10, 7, 7, 8, 4, 1, 3, 9, 4, 10, 8, 10, 10, 5, 1, 6, 5, 10, 4, 9, 1, 5, 6, 4, 10, 8, 6, 5, 1, 6, 8, 9, 10, 6, 4, 3, 9, 6, 7, 10, 1, 3, 10, 5, 6, 7, 3, 2, 5, 4, 6, 4, 10, 10, 4, 6, 9, 2, 8, 10, 2, 2, 10, 1, 2, 4, 6, 7, 6, 7, 6, 7, 5, 6, 10, 5, 6, 5, 2, 2, 6, 7, 9, 3, 9, 9, 9, 4, 5, 8, 1, 2, 8, 6, 9, 8, 7, 3, 7, 10, 1, 1, 9, 1, 6, 4, 4, 9, 6, 2, 5, 6, 8, 4, 4, 10, 4, 9, 7, 1, 9, 1, 8, 7, 10, 5, 8, 7, 8, 6, 5, 5, 9, 10, 9, 7, 1, 4, 2, 2, 7, 7, 10, 7, 3, 3, 5, 4, 1, 3, 3, 10, 9, 6, 10, 3, 8, 4, 2, 5, 4, 3, 4, 10, 5, 7, 6, 9, 1, 4, 6, 7, 9, 1, 10, 8, 7, 9, 6, 6, 9, 8, 10, 4, 4, 10, 9, 9, 8, 4, 3, 3, 10, 8, 5, 4, 1, 1, 3, 5, 1, 1, 7, 10, 2, 6, 6, 7, 4, 8, 2, 3, 3, 8, 3, 7, 6, 3, 5, 3, 6, 7, 10, 10, 7, 9, 5, 6, 7, 5, 2, 7, 7, 5, 3, 3, 7, 10, 8, 6, 10, 7, 5, 7, 8, 5, 8, 10, 3, 4, 4, 1, 1, 8, 10, 4, 6, 10, 10, 1, 2, 1, 2, 5, 4, 1, 8, 9, 8, 2, 4, 4, 9, 10, 7, 8, 9, 1, 6, 2, 2, 1, 4, 6, 10, 5, 2, 9, 1, 10, 9, 6, 3, 5, 4, 2, 10, 2, 1, 2, 4, 8, 1, 3, 3, 8, 4, 1, 10, 3, 8, 4, 6, 3, 6, 8, 3, 1, 9, 8, 4, 3, 10, 3, 4, 6, 2, 9, 8, 9, 9, 5, 2, 4, 1, 6, 5, 8, 2, 1, 8, 2, 3, 2, 2, 5, 7, 3, 3, 10, 3, 7, 5, 2, 9, 9, 3, 2, 6, 5, 10, 2, 4, 8, 5, 4, 6, 3, 9, 9, 8, 6, 3, 1, 2, 3, 2, 7, 10, 3, 6, 7, 9, 3, 6, 6, 10, 6, 9, 3, 1, 2, 1, 8, 6, 9, 9, 8, 5, 7, 1, 4, 1, 8, 5, 3, 2, 8, 2, 1, 6, 3, 6, 3, 9, 3, 6, 4, 5, 6, 5, 1, 10, 1, 6, 8, 9, 6, 6, 7, 5, 6, 6, 5, 4, 4, 9, 7, 3, 7, 2, 6, 3, 4, 10, 1, 4, 7, 8, 2, 1, 2, 8, 1, 10, 10, 3, 5, 10, 4, 10, 5, 10, 7, 7, 7, 5, 1, 4, 4, 6, 5, 8, 1, 10, 9, 1, 1, 1, 10, 6, 2, 2, 3, 3, 7, 7, 6, 3, 8, 8, 1, 8, 7, 3, 7, 4, 8, 3, 4, 7, 7, 2, 4, 5, 9, 3, 5, 6, 6, 6, 8, 1, 3, 1, 7, 4, 1, 2, 10, 8, 1, 7, 4, 8, 4, 8, 7, 5, 9, 2, 3, 8, 5, 7, 9, 10, 8, 8, 6, 2, 8, 4, 6, 8, 10, 3, 6, 5, 8, 10, 7, 7, 9, 6, 9, 7, 5, 8, 3, 1, 7, 4, 6, 4, 10, 5, 2, 4, 1, 7, 6, 1, 4, 7, 2, 9, 5, 1, 9, 1, 2, 3, 7, 3, 7, 10, 1, 8, 4, 9, 2, 6, 1, 7, 9, 10, 7, 2, 10, 10, 6, 1, 2, 10, 3, 6, 7, 1, 7, 5, 7, 8, 7, 3, 2, 10, 7, 2, 8, 3, 9, 5, 10, 10, 9, 10, 4, 9, 7, 10, 1, 9, 5, 7, 5, 6, 9, 5, 8, 2, 4, 5, 5, 2, 8, 4, 8, 9, 8, 1, 1, 5, 4, 3, 9, 1, 5, 7, 10, 1, 4, 8, 1, 5, 1, 10, 4, 3, 2, 10, 7, 10, 3, 10, 2, 10, 2, 7, 7, 10, 4, 5, 5, 3, 6, 8, 6, 8, 10, 10, 10, 2, 6, 7, 3, 3, 3, 8, 10, 8, 6, 9, 2, 10, 6, 1, 3, 6, 9, 9, 9, 9, 10, 2, 6, 4, 5, 9, 3, 2, 9, 7, 10, 3, 4, 1, 2, 6, 4, 3, 10, 10, 8, 6, 9, 4, 5, 6, 2, 6, 3, 10, 5, 6, 6, 6, 1, 8, 2, 3, 2, 7, 6, 10, 6, 1, 1, 4, 8, 9, 3, 1, 2, 7, 4, 4, 6, 9, 9, 2, 2, 3, 4, 2, 1, 4, 9, 4, 8, 7, 5, 1, 2, 9, 5, 9, 9, 3, 10, 9, 4, 4, 2, 6, 8, 1, 8, 4, 1, 5, 10, 10, 1, 5, 3, 10, 3, 9, 9, 3, 8, 8, 10, 2, 9, 2, 8, 1, 8, 5, 3, 7, 3, 2, 2, 9, 6, 10, 2, 1, 5, 1, 2, 1, 4, 2, 8, 9, 10, 8, 8, 5, 8, 6, 1, 8, 4, 2, 1, 8, 1, 6, 8, 2, 4, 2, 3, 9, 2, 3, 6, 10, 7, 6, 2, 5, 5, 9, 1, 3, 4, 5, 1, 5, 4, 1, 3, 10, 5, 3, 6, 4, 4, 5, 9, 6, 2, 8, 9, 1, 6, 10, 6, 1, 2, 9, 9, 7, 1, 6, 4, 4, 1, 1, 1, 10, 5, 1, 5, 10, 10, 4, 1, 7, 2, 1, 1, 1, 4, 4, 5, 10, 7, 10, 5, 4, 2, 6, 3, 10, 10, 6, 1, 1, 7, 9, 6, 6, 10, 8, 3, 4, 5, 2, 2, 10, 3, 5, 2, 10, 2, 2, 1, 8, 2, 9, 1, 3, 4, 4, 5, 7, 2, 6, 5, 7, 7, 8, 7, 2, 4, 2, 5, 4, 9, 6, 6, 6, 7, 8, 1, 10, 4, 2, 8, 2, 1, 6, 3, 9, 4, 2, 8, 2, 1, 8, 2, 8, 8, 10, 2, 1, 9, 2, 7, 4, 9, 5, 4, 4, 8, 5, 4, 7, 5, 6, 4, 4, 1, 4, 2, 4, 1, 5, 1, 9, 1, 4, 7, 4, 7, 6, 3, 7, 10, 9, 1, 10, 1, 10, 4, 5, 1, 3, 9, 8, 2, 10, 3, 1, 2, 6, 5, 10, 4, 3, 8, 3, 9, 9, 5, 6, 5, 7, 1, 4, 8, 9, 6, 3, 1, 6, 1, 4, 5, 10, 9, 9, 8, 4, 2, 10, 3, 2, 3, 3, 7, 9, 2, 10, 10, 5, 1, 3, 7, 3, 8, 1, 7, 9, 2, 10, 4, 3, 9, 5, 8, 5, 1, 5, 9, 3, 2, 2, 6, 7, 10, 10, 5, 3, 10, 7, 1, 1, 2, 5, 4, 10, 4, 8, 10, 5, 3, 5, 1, 8, 7, 3, 1, 3, 2, 7, 3, 5, 2, 5, 7, 4, 7, 9, 6, 6, 6, 1, 7, 8, 1, 7, 10, 9, 1, 8, 1, 2, 1, 7, 7, 2, 8, 7, 7, 10, 4, 4, 6, 6, 8, 8, 5, 4, 4, 5, 9, 1, 9, 4, 9, 9, 2, 3, 5, 6, 6, 9, 1, 7, 4, 6, 5, 9, 3, 9, 10, 4, 3, 4, 3, 5, 9, 3, 6, 4, 7, 5, 3, 3, 2, 7, 2, 2, 8, 1, 5, 2, 3, 5, 7, 8, 10, 9, 4, 2, 10, 9, 2, 3, 4, 2, 2, 8, 4, 5, 8, 5, 5, 5, 1, 6, 8, 4, 2, 10, 8, 9, 2, 9, 5, 4, 7, 3, 1, 1, 6, 1, 4, 1, 4, 2, 4, 9, 4, 4, 1, 1, 7, 4, 8, 10, 

  instance_id  repetition  fold
0        mip1           1     2
1       mip10           1     3
2      mip100           1     9
3     mip1000           1     4
4    mip10000           1     5

In [55]:
with open("sanitycheck/cv.arff","a") as file:
    for index,row in folds_df.iterrows():
        file.write("\n")
        newrow = str(list(row)).strip("[]").replace("'", "")
        file.write(newrow)

    file.close()